DL/ex1_report.md
DL/207253220/ex1_report.md
*._*
*train
NLP/p1/train/neg/** 
**.zip
NLP/glove.6B/glove.6B.50d.txt
NLP/glove.6B/glove.6B.300d.txt
NLP/glove.6B/glove.6B.100d.txt
NLP/glove.6B/glove.6B.200d.txt
NLP/p1/glove.6B.100d.txt
*.pyc
DL/ex2/train.csv
OrgBehavior/e3/data/*
OrgBehavior/e3/read_data.ipynb
OrgBehavior/e3/audio_compression_results.csv
*.zip
*tar.gz
*.bin
*.pdf
*.pptx
# *.docx
NLP/p1/results/*
NLP/p1/output/*
design/SpotifyFeatures.csv
process mining/ClicksData/BPI2016_Clicks_NOT_Logged_In.csv
dama mining/Final project Part 1/churn_dataset_train.csv
design/SpotifyFeatures.xlsx
data mining/Final project Part 1/churn_dataset_train.csv
data mining/Final project Part 2/churn_dataset_test.csv
data mining/Final project Part 2/churn_dataset_train.csv
data mining/Final project Part 1/test.csv
data mining/Final project Part 2/churn_dataset_train_cleaned.csv
data mining/Rec5 - Association Rule and Apriori Algorithm /data-tergul5/store_data.csv
data mining/Rec6 - Classification - decision tree/data-tergul6/Titanic_final.csv
data mining/Rec8 - Hyperparameter_Tuning/data-tergul8/Titanic_final.csv
top_topics/h1_pivot/sales_data_sample.csv
top_topics/h2_pbi/AdData.csv
process mining/ClicksData/source.csv
process mining/ClicksData/remaining_sessions.json
data mining/Final project Part 2/churn_dataset_test_cleaned.csv
design/eda_data.csv
design/archive/benefits.csv
design/archive/companies.csv
design/archive/company_industries.csv
design/archive/company_specialities.csv
design/archive/dashbored.twb
design/archive/employee_counts.csv
design/archive/job_industries.csv
design/archive/job_postings.csv
design/archive/job_skills.csv
process mining/ClicksData/accepted_ipid.json
process mining/ClicksData/accepted_sessions.json
process mining/ClicksData/actions_per_session.json
process mining/ClicksData/data_counts.json
process mining/ClicksData/collapsed_df.csv
process mining/ClicksData/MODIFIED.csv
process mining/ClicksData/temp.csv
process mining/ClicksData/temp.csv
process mining/ClicksData/temp.csv
process mining/ClicksData/actions_graphs.ipynb
simulation/project/on_time_by_lambda.csv
simulation/project/scheduling_algorithm_processing_time_after_warmup.csv
simulation/project/scheduling_algorithm_summary.csv
